:root {
  --myFont: "Shadows Into Light", cursive;
  --black: #000000;
  --dkGray: #878992;
  --ltGray1: #e2e2e2;
  --ltGray2: #d3d3d3;
  --brown: #80594f;
  --gold: #daa524;
  --ltBlue: #61dafb;
  --silverGoldGradient: linear-gradient(to top, var(--ltGray2), var(--gold));
  --silverGradient: linear-gradient(to bottom, var(--ltGray1), var(--dkGray));
}

body {
  background-color: var(--brown);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23453b38' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: var(--myFont);
}

h3 {
  margin: 20px 0 0 0;
  padding: 0;
}

p {
  font-family: var(--myFont);
  font-size: 20px;
}

.title {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.label {
  font-size: 24px;
  font-weight: bold;
}

.button {
  min-width: 3em;
  font-size: 20px;
}
.button:hover {
  background: var(--silverGradient);
}
.button:focus {
  background: var(--silverGradient);
}
.button.active {
  background: var(--silverGradient);
}
.button:target {
  background: var(--silverGradient);
}

.rollBtn {
  min-width: 4em;
  font-size: 36px;
}

.button,
.rollBtn {
  font-family: var(--myFont);
  cursor: pointer;
  background: var(--silverGoldGradient);
  border: 2px solid var(--black);
  border-radius: 7px;
  margin: 5px;
  padding: 0.25em;
}

.App-link {
  color: var(--ltBlue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
